# vscode
.vscode/

# node.js
/node_modules/
package-lock.json

# js
/src/*.js
/src/modules/*.js

# afdesign-files
*.afdesign

# personal notes
*planing.md

# experiments
/server/**
!server/data/
!server/data/experiments
!*help.md

#.htaccess
*.htaccess
*.htpasswd

# SEO-files
public/robots.txt
public/sitemap.xml

# config
config/*.json

# others
public/js/editorCard.js
public/js/loginDropdown.js
public/js/simulation.js
public/js/calculationWorker.js
