# node.js
/node_modules/
package-lock.json

# js
/src/*.js
/src/modules/*.js

# afdesign-files
*.afdesign

# personal notes
*planing.md

# experiments
/src/data/experiments/
/src/data/experiments.json
/src/data/AtomAniData.json
/src/data/AtomAniUsers.json

#.htaccess
*.htaccess
*.htpasswd
