<!DOCTYPE html>
<!--
Copyright (c) 2021 Alexander Romberg
-->

<head>
    <title>AtomAni</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/experiment.css">
    <link rel="stylesheet" href="/css/controls.css">
    <link rel="stylesheet" href="/css/editor.css">

    <%- include('favicon'); %>

    <!-- scripts -->
    <script src="/res/lib/jquery.min.js"></script>
    <script src="/res/lib/Chart.bundle.min.js"></script>
    <script type="module" src="/js/editor.js"></script>
</head>

<body>
    <%- include('header',{ origin: `script.back` , title: "Editor" }) %>
    <main class="no-js">
        <div class="js-missing-message">
            <script>
                let main = Array.prototype.slice.call(document.getElementsByClassName("no-js")); // checks for working JS
                main[0].classList.remove('no-js');
            </script>
            <b>JavaScript ist deaktiviert.</b> Die Animation kann dadurch nicht angezeigt werden.
        </div>
        <div class="simulationWindow">
            <div class="simulation">
                <!-- Simulation -->
                <canvas id="sim"></canvas>
            </div>
        </div>

        <div class="configuration">
            <div class="confignav">
                <p id="diagrammTab" class="selected-tab">Diagramme</p>
                <hr>
                <p id="controlsTab">Steuerelemente</p>
                <hr>
                <p id="atomsTab">Atome</p>
                <hr>
                <p id="wallsTab">Wände</p>
                <hr>
                <p id="settingsTab">Einstellungen / Speichern</p>
            </div>
            <div class="configcontent">
                <div class="tab-panel" id="diagrammPanel">
                    <h3>Diagramme</h3>
                    <div class="list" id="chartList">
                        <div class="chart">
                            <input type="checkbox" name="fps" id="fps">fps</input>
                            <hr>
                            <span>
                                <label for="fpsName">Diagramm Name</label>
                                <input type="text" name="fpsName" id="fpsName" value="fps">
                            </span>
                            <span>
                                <label for="fpsColor">Diagramm Farbe</label>
                                <input type="color" name="fpsColor" id="fpsColor" value="#0066FF">
                            </span>
                        </div>
                        <div class="chart">
                            <input type="checkbox" name="avgVel" id="avgVel">avgVel</input>
                            <hr>
                            <span>
                                <label for="avgVelName">Diagramm Name</label>
                                <input type="text" name="avgVelName" id="avgVelName" value="avgVel">
                            </span>
                            <span>
                                <label for="avgVelColor">Diagramm Farbe</label>
                                <input type="color" name="avgVelColor" id="avgVelColor" value="#0066FF">
                            </span>
                        </div>
                        <div class="chart">
                            <input type="checkbox" name="pres" id="pres">pres</input>
                            <hr>
                            <span>
                                <label for="presName">Diagramm Name</label>
                                <input type="text" name="presName" id="presName" value="pres">
                            </span>
                            <span>
                                <label for="presColor">Diagramm Farbe</label>
                                <input type="color" name="presColor" id="presColor" value="#0066FF">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tab-panel hidden" id="controlsPanel">
                    <h3>Steuerelemente</h3>
                    <div class="list" id="controlsList">
                        <div class="control">
                            <input type="checkbox" name="temp" id="temp">temp</input>
                            <hr>
                            <span>
                                <label for="tempName">Element Name</label>
                                <input type="text" name="tempName" id="tempName" value="temp">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tab-panel hidden" id="atomsPanel">
                    <h3>Atome</h3>
                    <div class="list" id="atomList">
                        <button class="selectionBox add" id="addAtom"><img src="../res/img/add.svg" alt="Neu"></button>
                    </div>
                </div>
                <div class="tab-panel hidden" id="wallsPanel">
                    <h3>Wände</h3>
                    <div class="list" id="wallList">
                        <button class="selectionBox add" id="addWall"><img src="../res/img/add.svg" alt="Neu"></button>
                    </div>
                    <p><b>Info:</b> Zur Zeit können nur Boxen erstellt werden. Für die Einbindung von Wänden kann die Konfigurationsdatei manuell bearbeitet werden.</p>
                </div>
                <div class="tab-panel hidden" id="settingsPanel">
                    <h3>Einstellungen</h3>
                    <form action="/api/new/experiment" method="post">
                        <div class="list settings">
                            <div class="settingsBox">
                                <label for="name">Experiment Name:</label>
                                <input type="text" pattern="^(?!\s*$).+" name="name" id="experimentName" required>
                                <input type="hidden" name="id" value="<%-origId%>">
                                <input type="hidden" id="data" name="data" value='{"charts": [],"atoms": [],"walls": [],"controls": []}'>
                                <input type="submit" name="save" value="Speichern">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs', { Version }) %>
</body>