<!DOCTYPE html>
<!--
Copyright (c) 2021 Alexander Romberg
-->

<head>
    <title>AtomAni</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/experiment.css">
    <!-- <link rel="stylesheet" href="/css/controls.css"> -->

    <%- include('favicon'); %>

    <!-- scripts -->
    <script src="/res/lib/jquery.min.js"></script>
    <script src="/res/lib/Chart.bundle.min.js"></script>
</head>

<body>
    <%- include('header',{ origin: "script.back" , title: "Simulation" }) %>
    <main class="no-js">
        <div class="js-missing-message">
            <script>
                let main = Array.prototype.slice.call(document.getElementsByClassName("no-js")); // checks for working JS
                main[0].classList.remove('no-js');
            </script>
            <b>JavaScript ist deaktiviert.</b> Die Animation kann dadurch nicht angezeigt werden.
        </div>
        <div class="simulationWindow">
            <div class="simulation">
                <!-- Simulation -->
                <canvas id="sim"></canvas>
                <div id="control">
                    <span class="row space-even shadow-floating-control">
                        <buttom id="btnSpeed" class="btnRound btnSmall" value="1">1×</buttom>
                        <buttom id="btnStart" class="btnRound"><img class="btnPause" alt="Stop"></buttom>
                        <buttom id="btnReset" class="btnRound btnSmall"><img alt="Zurücksetzen"></buttom>
                    </span>
                </div>
            </div>
            <div class="controlPane">
                <!-- Controls -->
                <div id="chartsBox">
                    <h3>Diagramme</h3>
                    <div class="charts">
                    </div>
                </div>
                <div id="controlsBox">
                    <h3>Steuerung</h3>
                    <div class="controls">
                        <div class="control" id="temp" style="display: none;">
                            <h4></h4>
                            <input type="range" class="slider" id="inpTemp" min="0.997" max="1.003" value="1" step="0.001">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('footer.ejs', { Version }) %>
    <script type="module">
        import CExperiment from '/js/simulation.js';
        const simulationScript = <%- JSON.stringify(scriptParams); %>;
        const Experiment = new CExperiment(simulationScript, true);
        Experiment.handleResize();
    </script>
</body>