<!DOCTYPE html>
<!--
Copyright (c) 2021 Alexander Romberg
-->

<head>
    <title>AtomAni</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <%- include('favicon'); %>

        <!-- stylesheets -->
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/help.css">
</head>

<body>
    <%- include('header',{ origin: "/", title: "Hilfe" }) %>
        <div class="help-container">
            <nav>
                <h2>Hilfe</h2>
                <ul>
                    <li><a href="help#AtomAni">AtomAni</a></li>
                    <li><a href="help#Selection">Experimentwahl</a></li>
                    <li><a href="help#Simulation">Simulation</a></li>
                    <li><a href="help#Script">Simulationsskript</a></li>
                    <li><a href="help#FAQ">Häufige Fragen</a></li>
                    <li><a href="help#Licenses">Bi­b­lio­theken</a></li>
                    <li><a href="help#Credits">Mitwirkende</a></li>
                </ul>
            </nav>
            <main>
                <%- html %>
                    <p style="height: 40px"></p>
            </main>
        </div>
        <%- include('footer.ejs', { version }) %>
</body>