<!DOCTYPE html>
<!--
Copyright (c) 2021 Alexander Romberg
-->

<head>
    <title>AtomAni</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/new.css">

    <%- include('favicon'); %>
</head>

<body>
    <%- include('header',{ origin: `/selection${origId}` , title: "Neues Experiment" }) %>
    <main>
        <form action="/new/experiment" method="POST">
            <input type="hidden" name="id" value="<%- origId %>">
            <button type="submit" name="import">Aus Datei importieren</button>
            <button type="submit" name="editor">Neues Experiment erstellen</button>
        </form>
    </main>
    <%- include('footer.ejs', { version }) %>
</body>