<!DOCTYPE html>
<!--
Copyright (c) 2021 Alexander Romberg
-->

<head>
    <title>AtomAni</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/selection.css">

    <%- include('favicon'); %>
</head>

<body>
    <div class="container">
        <%- include('header',{ origin: "../" , title: "Experimente" }) %>
            <main>
                <div class="selection">
                    <%- cardString %>
                </div>
            </main>
            <%- include('footer.ejs', { version }) %>
    </div>
</body>