#info {
    height: unset;
    min-height: 100vh;
    padding: 30px;
    background-color: var(--content-bg-col);
}

#sim {
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 200px) !important;
    border-radius: 8px;
}